
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body {
	background: white;
    font-size:100%;
    width:100%;
    
}
#main {
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/background.jpg);
}
footer {
    clear:both;
    height: 50px;
    width: 100%;
    background-color: beige;
    border: 1px solid #666;
    padding-left: 180px;
    font-family: monospace, sans-serif;
    
}

footer li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 8px;
    color: darkgreen;
}

footer img {
    width: 25px;
    height: 30px;
}
nav {
    height:50px;
    width:100%;
    line-height:50px;
    background-color: beige;
    float:left;
    font-family: monospace, 'Arial';
    margin-bottom: 15px;
}

nav ul{
    width:88%;
    margin: 0 auto;
}
nav li {
    float: left;
    list-style-type: none;
    width:16.6%;
    text-align: center;
    font-size: 1.5em;  
}

nav a {
    display: block;
    color: darkgreen;
    text-decoration: none;
}

nav a:hover {
    background-color:  darkgreen;
    color: beige;
    text-decoration: none;
}

.nav li.logo:hover {
  background-color: inherit;
}
a {
    color: skyblue;
}
/*********************Blueberry-Specials************************/
#doc {
    margin:0;
    clear: both;
}
#content {
	margin: 0 auto;
	min-width: 740px;
	max-width: 1140px;
}

.blueberry { max-width: 960px; }
/*****************************Images*****************************/
nav img {
    height: 50px; 
}
aside img {
    height: 250px;
    padding: 10px;
    padding-left: 25px;
    float: left;
}
img.right {
    float: right;
    padding-right: 25px;
}
img.flower {
    float: left;
    height: 800px;
    padding-right: 100px;
}
body.recipes main img {
    float: left;
    width: 30%;  
}
body.facts table img {
    padding: 15px;
}
main.chart img {
    display: block;
    margin: 0 auto;
}
/*****************************Home-Aside*************************/
aside {
    overflow: hidden;
    margin: 20px 125px;
    padding-bottom: 10px;    
    clear: both;    
}
aside.top {
    margin-top: 60px;
}
aside.bottom {
    margin-bottom: 10px;
}
/***************************Facts******************************/
table {
    width: 80%;
    margin: 0 auto;
    padding-top: 45px;
}
table img {
    display: block;
    margin: 0 auto;
}
body.facts td {
    border: 1px solid white;
    width: 45%; 
}
body.facts td.no-border {
    border: none;
    width: 10%;
}
body.facts main {
    width: 80%;
    margin: 0 auto;
}
/***************************Recipes******************************/
body.recipes aside {
    width: 80%;
    border: 1px solid white;
    margin: 10px auto;
    padding: 25px;
}
body.recipes aside ul {
    padding-left: 375px;
    padding-bottom: 55px;
    padding-top: 15px;
}
/************************Changes*****************************/
body.changes table {
    padding-bottom: 15px;
}
/************************Contact-Page*****************************/
body.contact main {
    width: 100%;
    
}
body.contact main a {
    color: white;
}
body.contact main li {
    padding:0 20px 25px 20px;
    font-size: 1.1em;
    font-family: cursive, serif;
    list-style-type: none;
}
body.contact main ul {
    padding: 150px;
}
/*****************************Typography*****************************/
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 11, 2018 */

@font-face {
    font-family: 'amaticbold';
    src: url('../fonts/amatic-bold-webfont.woff2') format('woff2'),
         url('..fonts/amatic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1, h3, body.contact main li.title {
    text-align: center;
    padding-top: 15px;
    font-family: 'amaticbold', fantasy, serif;
    font-size: 1.5em;
    
}
p {
    padding: 5px 20px;
    font-family: 'quicksandregular', sans-serif, monospace;
    color: white;
}
figure {
    padding-left: 50px;
    color: lightgray;
    font-size: 0.9em;
    font-style: italic;
    
}

h1 {
    font-size: 2.5em;
    padding: 0;
    font-family: 'quicksandregular';
}
h3.special, p.special {
    font-family: 'quicksandregular', fantasy, serif;
    text-align: center;
    font-size: 5em;
    padding-top: 30px;
}
p.special {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 80px;
}
body.facts h3 {
    font-family: 'quicksandregular', fantasy, serif;
}

